:root{
    --color-primary: #EDB74C;
    --color-light: #F1CD83; 
    --color-dark: #A17723;
    --color-cream: #f3e1be;
    --color-secondary: #5393F5;
    --color-secondary-dark: #1851A8;
    --font-primary: 'Big Shoulders Text', cursive;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*******************FORMULARIO*********************/
.fsAgregar{
    background-color: var(--color-cream);
    width: 60.5%;
    height: 300px;
    margin-left: 19.5%;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    border-bottom: 5px solid #B6B6B6;
}

h3{
    font-family: var(--font-primary);
    font-weight: 800;
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
}

.input,.textArea{
    width: 80%;
    margin: 7px 10%;
    padding: 8px;
    border: none;
    border-bottom: 3px solid var(--color-primary);
    background-color: none;
}

.textArea{
    resize: none;
}

.btn{
    background-color: var(--color-primary);
    border: none;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    margin-left: 40%;
    cursor: pointer;
}

/*********************RESPONSIVE*************************/
@media only screen and (min-width: 320px) and (max-width: 767px)  {
    .fsAgregar{
        width: 85%;
        margin-left: 7%;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 888px)  {
    .fsAgregar{
        width: 85%;
        margin-left: 7%;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 889px) and (max-width: 998px)  {
    .fsAgregar{
        width: 85%;
        margin-left: 7%;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 999px) and (max-width: 1210px)  {
    .fsAgregar{
        width: 78%;
        margin-left: 11%;
        margin-top: 15px;
    }
}


